@model ExamInvigilationManagement.Application.DTOs.Admin.Position.PositionDto

@{
    ViewBag.Subtitle = "Tạo chức vụ";
}

<form asp-area="Admin" asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="form-page">
        @await Html.PartialAsync("_FormHeader")

        <div class="form-card">

            <div class="form-group">
                <label class="form-label">Tên chức vụ</label>
                <input asp-for="PositionName" class="input-modern" />
                <span asp-validation-for="PositionName" class="text-danger d-block mt-1"></span>
            </div>

            @await Html.PartialAsync("_FormFooter")
        </div>
    </div>
</form>